@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Source Sans Pro", sans-serif;
}

.App h1 {
  text-align: center;
  margin: 10px auto;
  font-size: calc(0.8rem + 1vw);
}

.title {
  color: #1c1d1f;
  margin: 0.5rem auto;
}

.description {
  color: #6a6f73;
  font-weight: 300;
  margin: 10px auto;
}

.span {
  font-weight: 700;
  background-color: #eceb98;
  color: #3d3c0a;
  padding: 0 5px;
  font-size: 18px;
  border-radius: 5px;
}

.card-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.product-card {
  width: 18rem;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  padding: 5px;
  transition: box-shadow 0.3s ease-in;
}

.product-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product-image {
  height: 220px;
}

.product-image img {
  width: 100%;
  height: 100%;
}

.product-cart {
  display: flex;
  justify-content: space-between;
}

.btn {
  background: #a435f0;
  color: #fff;
  border: none;
  outline: none;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0 5px;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

.input {
  text-align: center;
}

input {
  padding: 0.382em 1em;
  border: 1px #676c70 solid;
  border-radius: 4px;
  font-weight: 500;
  margin: 10px auto;
}

input:focus {
  outline: 1px solid #676c70;
}

.links {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.links a {
  text-decoration: none;
  margin: 20px;
  width: auto;
  color: #000;
  font-weight: 700;
}

.about {
  max-width: 1000px;
  margin: auto;
}

.about h2 {
  text-align: center;
  margin: 20px auto;
}

.about p {
  margin: 10px;
  line-height: 1.6;
}

/* Media query */
@media screen and (max-width: 1024px) {
  .container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .container {
    justify-content: center;
  }
}
